@{
    ViewData["Title"] = "PreParte";
}

<div class="text-center container">
    <div class="row" style="padding-bottom:2px">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-action="PreParteDinamico">PrePartes Dinamico</a>
    </div>
    <div class="row" style="padding-bottom:2px">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-action="PreParteNew">PrePartes Nuevo</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-action="PreParteList">PrePartes Lista</a>
    </div>
</div>
