@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-controller="PreParte" asp-action="Index">PrePartes</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-controller="Partes" asp-action="Index">Partes</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-controller="Procesos" asp-action="Index">Procesos</a>
    </div>
    
</div>
