
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center container">
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-controller="Partes" asp-action="PartesList">Parte Lista</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-controller="Partes" asp-action="PartesMO">Crear Parte MO</a>
    </div>
</div>
