@{
    ViewData["Title"] = "Procesos";
}

<div class="text-center container">
    <div class="row" style="padding-bottom:2px">
        <a class="btn btn-primary col-md-4 offset-md-4" asp-action="ProcesoCarpeta">Proceso Carpeta</a>
    </div>
</div>